form{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:1em;
}

.task-input {
    position: relative;
    height: 52px;
}

.task-input .icon {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}

.task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
}

.task-input input:focus,
.task-input input.active {
    padding-left: 52px;
    border: 2px solid Black;
}

.task-input input::placeholder {
    color: #bfbfbf;
}